.card {
  padding: 0;
  margin: 0;
  height: 300px;
  width: 50%;
  overflow: scroll;
}

.movie_content {
    background-color: #141414;
    border: none;
    color: white;
    position: relative;
    width: 50%;
    left: 30%;
    bottom: 85%;
    text-align: left;
  }
