.nav {
  position: relative;
  margin-bottom: 700px;
  width: 100%;
  left: 12%;
}

.filter_btn {
  background-color: #e800b2;
  border-color: transparent;
  border-radius: 10px;
  margin: 0 auto;
}

.clear_btn {
  position: fixed;
  padding: 0;
  left: 25%;
  background-color: transparent;
  border-color: transparent;
}

.icon {
  left: 0;
  height: 5%;
}

.filter_btns {
  background-color: #e800b2;
  border-color: transparent;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  bottom: 300px;
}
